*{
    margin: 0px;
    padding: 0px;
}
.main{
    text-align: center;
    display: inline-block;
    padding-left: 30%;
}
.btn{
    margin-top: 10px;
}
.n_box{
    margin-top: 10px;
    padding-top: 4px;
    height: 100px;
    width: 500px;
    border: solid black;
    align-items: center;
}